.footer {
  width: 100%;
  height: auto;
  color: white;
}

.container {
  margin: auto;
  width: 85%;
  background: rgba(25, 26, 35, 1);
  padding: 30px;
  border-radius: 45px 45px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* TOP */
.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logoDiv {
  display: flex;
  gap: 15px;
  font-family: Space Grotesk;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: Space Grotesk;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  flex-wrap: wrap;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

/* MIDDLE */
.middle {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.contact {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact p {
  font-family: Space Grotesk;
  font-size: 16px;
  text-align: left;
}

.contact div {
  width: auto;
  padding: 10px;
  border-radius: 7px;
  background: rgba(201, 241, 255, 1);
  color: rgba(0, 0, 0, 1);
  font-family: Space Grotesk;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  background: rgba(41, 42, 50, 1);
  border-radius: 14px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.email input {
  width: 100%;
  max-width: 285px;
  height: 50px;
  border-radius: 14px;
  border: 1px solid white;
  background: none;
  padding: 10px;
  color: white;
  font-family: Space Grotesk;
  font-size: 16px;
}

.email button {
  width: 100%;
  max-width: 200px;
  height: 50px;
  border-radius: 14px;
  background: rgba(201, 241, 255, 1);
  border: none;
  font-family: Space Grotesk;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

/* BOTTOM */
.bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.bottom p {
  font-family: Space Grotesk;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .top, .middle, .bottom {
    flex-direction: column;
    align-items: center;
  }

  .navigation, .social {
    flex-direction: column;
  }

  .contact, .email {
    width: 100%;
  }

  .email input, .email button {
    width: 100%;
  }
}
